.prettyprint {
    color: #393318;
    display: block;
}
.str {
    color: #800000;
}
.kwd {
    color: #00008b;
}
.com {
    color: #808080;
}
.typ {
    color: #2b91af;
}
.lit {
    color: #800000;
}
.pun {
    color: #000;
}
.pln {
    color: #000;
}
.tag {
    color: #800000;
}
.atn {
    color: #f00;
}
.atv {
    color: #00f;
}
.dec {
    color: #800080;
}

@media print
{
    .container, body {
        font-size: 10pt !important;
        height: auto;
        overflow: visible !important;
    }

    .container {
        width: 710px;
        float: none !important;
        overflow: visible !important;
        width: 100%;
    }

    .str
    {
        color: #060;
    }

    .kwd
    {
        color: #006;
        font-weight: bold;
    }

    .com
    {
        color: #600;
        font-style: italic;
    }

    .typ
    {
        color: #404;
        font-weight: bold;
    }

    .lit
    {
        color: #044;
    }

    .pun
    {
        color: #440;
    }

    .pln
    {
        color: #000;
    }

    .tag
    {
        color: #006;
        font-weight: bold;
    }

    .atn
    {
        color: #404;
    }

    .atv
    {
        color: #060;
    }

    pre {
        clear: both;
        display: block;
        height: auto;
        max-height: none;
        overflow-x: auto;
        white-space: pre-wrap;
        width: 600px;
        word-wrap: break-word;
    }

    pre, code {
        font-size: 9pt !important;
    }
}